@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
:root {
  --bannerFont: "Major Mono Display", monospace;
  --mainTextColor: rgb(225, 122, 59);
  --footerColor: rgb(14, 27, 52);
  --mainFont: "Merriweather", serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* nav */
nav {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-family: var(--bannerFont);
  border-bottom: 5px solid black;
  background-color: white;
  z-index: 2;
}
#banner {
  max-width: 225px;
  height: 100%;
  margin: 0 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}
#banner:hover {
  cursor: pointer;
}
#nav-list {
  width: 80%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-content: center;
  padding-right: 5%;
  white-space: nowrap;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition: all 0.1s ease-in-out;
}
.nav-item a:hover {
  color: rgb(137, 14, 14);
  font-size: 1.7em;
  font-weight: bolder;
}
/* drop-downs */
.wrapper {
  padding-right: 5%;
}
.drop-btn {
  /* this applies in js */
  border: 4px solid black;
  border-radius: 5px;
  padding: 1px;
}
.drop-btn:hover,
.drop-btn:active {
  filter: brightness(50%);
}
/* box for navigation */
.drop-content {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
  transform: translateY(-100%);
  background-color: white;
}

#drop-ul {
  list-style-type: none;
  font-family: var(--bannerFont);
}
#drop-ul li {
  display: block;
  text-align: center;
  padding: 5%;
  border-bottom: 2px solid black;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#drop-ul li:hover {
  background-color: var(--footerColor);
  color: white;
}
#drop-ul li:hover a {
  color: white;
}

.hidden {
  display: none;
}

/* FOOTER */

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 5px solid black;
  width: 100%;
  background-color: var(--footerColor);
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}
#footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
#footer-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-variant: small-caps;
  transition: all 0.1s ease-in;
}
#footer-list li a:hover {
  font-size: 1.25em;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
