.container {
  height: 80vh;
  font-family: var(--MainFont);
}
.container h1 {
  text-align: center;
  margin: 5vh;
  font-size: 3em;
  font-style: italic;
  color: #000;
}
#splitter {
  width: 50%;
  margin: auto;
  transform: skewX(20deg);
  border: 5px solid black;
  height: 30px;
  margin-bottom: 5vh;
  background-color: var(--footerColor);
}

.container h2 {
  margin-left: 10vw;
  font-variant: small-caps;
  font-size: 2em;
  margin-bottom: 2vh;
}

#credentials {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
}

.cred-item span {
  color: rgb(18, 109, 18);
  font-variant: normal;
}
