.left-col {
  width: 30%;
  height: 50vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  float: left;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 5em;
  position: relative;
}
.prod-name {
  font-size: 2em;
  color: var(--footerColor);
  margin-bottom: 20px;
}
.price {
  font-size: 1.7em;
  font-weight: 800;
  margin-bottom: 20px;
}
.prod-desc {
  font-size: 1.5em;
  color: rgb(57, 56, 56);
  margin-bottom: 40px;
}

.right-col {
  width: 50%;
  height: 50vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  float: right;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5em;
}

.img {
  display: block;
  width: 500px;
  height: 450px;
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.box {
  width: 150px;
  position: relative;
}
.dropdown {
  background-color: rgba(211, 208, 208, 0.4);
  width: 150px;
  height: 30px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2px;
  padding-right: 30px;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  appearance: none;
  border: none;
}
select:focus,
.box:focus,
.dropdown:focus .select:after {
  border: none !important;
  border-style: none;
}
#quantity {
  width: 50px;
}
.box:after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
  background-color: rgb(156, 153, 153);
  color: rgb(53, 52, 52);
  padding: 2px 5px;
  pointer-events: none;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#user-form {
  width: 40%;
  padding: 20px;
  float: right;
  background-color: rgba(211, 208, 208, 0.4);
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 20px;
  position: relative;
  font-size: 20px;
  font-family: var(--mainFont);
}
#payment-header {
  position: absolute;
  top: -45px;
  left: 10px;
}

#first-div {
  float: left;
  width: 40%;
}
#last-div {
  float: right;
  width: 60%;
}
.payment-div {
  font-variant: small-caps;
  font-weight: 700;
  margin-bottom: 10px;
}
.payment-el {
  /* the input elements */
  font-size: 20px;
  width: 100%;
}

#first-name {
  width: 80%;
}
#last-name {
  width: 100%;
}

#wrapper-btn {
  padding: 10px;
  width: 100%;
  text-align: center;
}
#payment-btn {
  font-size: 20px;
  background-color: rgb(53, 52, 52);
  color: white;
  border-radius: 5px;
  padding: 2px;
  border: none;
}
#payment-btn:hover {
  background-color: rgba(53, 52, 52, 0.8);
  cursor: pointer;
}

.workingcart {
  font-size: 20px;
  text-align: center;
}
.basket {
  font-size: 16px;
  position: relative;
  bottom: -40px;
}
#final-price {
  font-variant: small-caps;
  color: black;
}
