@media (max-width: 1060px) {
  /* index.html */
  #main {
    display: flex;
    flex-direction: column;
  }
  #bean-text {
    order: 1;
  }
  #bean-bags {
    order: 2;
  }
  #mug-text {
    order: 3;
  }
  #mug-pic {
    order: 4;
  }
  #shirt-text {
    order: 5;
  }
  #shirt-pic {
    order: 6;
  }

  .main-img {
    margin-bottom: 5%;
  }

  /* end index.html */
}

@media (max-width: 800px) {
  #div-carosel #carosel-text {
    width: 100%;
    text-align: center;
    top: 2%;
    right: 0;
    left: 0;
    padding: 2% 5%;
  }
  #div-carosel #tab {
    display: none;
  }
}
